@font-face {
  font-family: "Vazirmatn";
  src: url("../src/assets/fonts/Vazirmatn-RD-UI-FD-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("../src/assets/fonts/Vazirmatn-RD-UI-FD-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("../src/assets/fonts/Vazirmatn-RD-UI-FD-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("../src/assets/fonts/Vazirmatn-RD-UI-FD-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  scrollbar-width: thin;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.grid {
  /* grid-template-columns: ; */
}
